<!DOCTYPE html>
<html>
  <%- include('./header');%>
  <body>
    <h1><%= title %></h1>
    <%if(message != ''){%>
      <div class="alert alert-primary">
        <%= message %>
      </div>
    <%}%>
    <p>Welcome to <%= title %></p>
  </body>
  <%- include('./footer');%>
</html>
