<!DOCTYPE html>
<html>
  <%- include('./header');%>
  <body>
      <h1 class='text-center'>Reset Password</h1>
      <%if(errorMessage.length != 0){%>
        <div class="alert alert-danger">
          <strong>Warning!</strong> The form contains <%= errorMessage.length%> errors.
        </div>
        <div>
          <ul>
            <%for(let item of errorMessage){%>
              <li><%=item%></li>
            <%}%>
          </ul>
        </div>
      <%}%>
      <form action="./edit" method="POST" class='form-signin'>
        <div class = "form-group">
            <input type="hidden" name="email" value="<%=email%>"/>
        </div>
        <div class = "form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control"/>
        </div>
        <div class = "form-group">
            <label>Confirmation</label>
            <input type="password" name="confirmation" class="form-control"/>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>
  </body>
  <footer>
    <%- include('./footer');%>
    <link href="/stylesheets/style.css" rel="stylesheet">
  </footer>
</html>