<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
</head>
<body>
<%- include('../partials/header'); %>
<div class="container">
    <h1>Reset password</h1>

    <%- include('../partials/error_messages'); %>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form action="./edit" method="POST">
                <div class="form-group">
                    <input type="hidden" name="email" value="<%= email %>" />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Confirmation</label>
                    <input type="password" name="confirmation" class="form-control" />
                </div>

                <button class="btn btn-primary btn-block" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
<%- include('../partials/footer'); %>
</body>
</html>
