<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
</head>
<body>
<%- include('../partials/header'); %>
<div class="container">
    <h1 class='text-center'>Sign up</h1>
    <% if(errorMessage.length != 0){ %>
        <div class="alert alert-danger">
            <strong>Warning!</strong> The form contains <%= errorMessage.length %> errors.
        </div>
        <div>
            <ul>
                <% for(let item of errorMessage){ %>
                <li><%= item %></li>
                <% } %>
            </ul>
        </div>
    <% } %>

    <form action="/signup" method="post" class='form-signin'>
        <div class="form-group">
            <label>UserName</label>
            <input type="text" name="username" class="form-control" />
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" class="form-control" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control" />
        </div>
        <div class="form-group">
            <label>Confirmation</label>
            <input type="password" name="confirmation" class="form-control" />
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
</div>
<%- include('../partials/footer'); %>
</body>
</html>